{% extends "blog/base.html" %}

{% block title %}Mi Blog{% endblock %}

{% block content %}
  <h1>Mi Blog</h1>
  {% for post in posts %}
    <h2>
      <a href="{{ post.get_url_absoluta }}">
        {{ post.titulo }}
      </a>
    </h2>
    <p class="tags">Tags: {{ post.tags.all|join:", " }}</p>
    <p class="date">
      Publicado {{ post.publicado }} por {{ post.autor }}
    </p>
    {{ post.cuerpo|truncatewords:30|linebreaks }}
  {% endfor %}
  {% include "pagination.html" with page=posts %}
{% endblock %}