{% load blog_tags %}
{% load static %}
    <!DOCTYPE html>
    <html>
        <head>
            <title>{% block title %}{% endblock %}</title>
            <link href="{% static "css/blog.css" %}" rel="stylesheet">
        </head>
    <body>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
        <div id="sidebar">
            <h2>Mi blog</h2>
                <p>Este es mi Blog.<br>
                Hay escritos {% total_de_posts %} post hasta el {% hora %}
                </p>           
        </div>
    </body>
    
</html>