{% load blog_tags %}
{% load static %}
    <!DOCTYPE html>
    <html>
        <head>
            <title>{% block title %}{% endblock %}</title>
            <link href="{% static "css/blog.css" %}" rel="stylesheet">
        </head>
    <body>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
        <div id="sidebar">
            <h2>Mi blog</h2>
                <p>Este es mi Blog.<br>
                Hay escritos {% total_de_posts %} post hasta el {% hora %}
                </p>
                <h3>Ultimos Post</h3>
                {% mostrar_ultimos_posts 3 %}     
            <h3>Post mas comentados </h3>
                {% mas_comentados 3 as post_mas_comentados %}
                <ul>
                    {% for post in post_mas_comentados %}
                        <li>
                            <a href="{{ post.get_absolute_url }}">{{ post.titulo }}</a>
                        </li>
                    {% endfor %}
                </ul>
        </div>
    </body>
    
</html>